{% extends "base.html" %}

{% block title %}Accueil - Université HIGHCARE KINSHASA{% endblock %}

{% block content %}
    <div class="home-content">
        <div class="home-content1">
            <div class="logo-home">
                <!-- Utiliser le style SOLID pour graduation-cap (Regular ne le contient pas en version gratuite) -->
                <i class="fa-solid fa-graduation-cap"></i>
            </div>
            <div class="home-text">
                <div class="home-present1">
                    <h2 class="text-home-present">
                        Bienvenu sur le Système de Gestion des Cartes Etudiantes
                    </h2>
                </div>
                <div class="home-present2">
                    <p class="descrip-home-present">
                        Gérez les informations des étudiants et générez des cartes d'identité étudiantes professionnelles pour
                        <br> l'Université Highcare Kinshasa. Notre système complet vous permet d'ajouter des étudiants, de maintenir
                        <br> les dossiers et de créer des cartes d'identification officielles.
                    </p>
                </div>
            </div>
        </div>
        <div class="home-content2">
            <div class="box-home-content2">
                <div class="logo-box">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
                <h3 class="box-title">
                    Ajouter des Etudiants
                </h3>
                <p class="box-description">
                    Enregistrez de nouveaux étudiants <br> avec des informations et <br> documents complets
                </p>
            </div>
            <div class="box-home-content2">
                <div class="logo-box">
                    <i class="fa-solid fa-school"></i>
                </div>
                <h3 class="box-title">
                    Gérer les Dossiers
                </h3>
                <p class="box-description">
                    Consultez et gérez tous les <br> dossiers étudiants dans un format <br> de tableau organisé
                </p>
            </div>
            <div class="box-home-content2">
                <div class="logo-box">
                    <i class="fa-solid fa-id-card"></i>
                </div>
                <h3 class="box-title">
                    Générer des Cartes
                </h3>
                <p class="box-description">
                    Créez des cartes d'identité <br> étudiantes professionnelles avec <br> photos et codes QR
                </p>
            </div>
        </div>
    </div>
{% endblock %}
